<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <ul>
    <li><a href="/welcome_page"></a>Welcome Page</li>
  </ul>
  <p>THE RESULT!....</p>
  <%= yield %>
</body>
</html>