<h1>How to Play</h1>
<ul>
  <li>Lay out a pair of scissors, a rock and a piece of paper</li>
  <li>Consider which item would beat the other in a fight to the death</li>
  <li>But consider the piece of paper as a sort of wizard that will always win in a fight with the rock</li>
  <li>Other than the rock-paper relationship, which item wins is intuitive</li>
  <li>You are ready to play!</li>
</ul>